*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

img{
    max-width: 100%;
    height: auto;
}

div{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; 
    width: 200px;
    border: 1px solid gray;
    margin: 15px ;
}

/*BOTON*/


  

  
  div:hover {
    background: rgb(37, 150, 190);
  }

  a{
    padding: 10% 40%;
    
    text-decoration: none;
    color: black;
  }
  
  a:active {
    
    background: rgb(15, 140, 185);
    color: white;
  }

  /*FOOTER*/

  footer{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    background-color: rgb(69, 72, 73);
  }

  footer p{
 color: aliceblue;
  }



  /*HORARIO*/
  table{
    border: 1px solid black;
  }

  th{
    border: 1px solid black; 
    padding-left: 5px;
    padding-right: 5px;
  }



  #title{
    padding: 0% 0%;
  }
  td{
    border: 1px solid black;
  }
  
